body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gage {
  margin: .25em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 300px;
  height: 240px;
  float: left;
}
